<%- include('../layout/head') %>
<%- include('../layout/nav') %>
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold text-white text-uppercase">Melding?</h1>
                <button class="btn btn-lg text-center btn-outline-light my-3" style="width: 30vw"><a class="text-center text-dark" href="/~annemarieke/dagtentamen/74/login">Inloggen</a></button>
            </div>
        </div>
    </div>
</header>

<%- include('../layout/footer') %>


